obj/
Library/
Logs/
Temp/
Builds/
*.sln
*.csproj
*.log
.vs
.idea
*.DotSettings.user
*.gen.*
obj$
obj.meta$
.config/
.vscode/


build/**
PackageSources
Packages/.gitignore

SceneDependencyCache.meta
SceneDependencyCache/