obj/
Library/
Logs/
Temp/
Builds/
*.sln
*.csproj
*.log
.vs
.idea
*.DotSettings.user
*.gen.*
obj$
obj.meta$
.config/
.vscode/
Asteroids_BurstDebugInformation_DoNotShip/
ProjectSettings/BurstAotSettings_Android.json
cmds.txt
*.meta

build/**
PackageSources
Packages/.gitignore

SceneDependencyCache.meta
SceneDependencyCache/